---
import Logo from '../components/Logo.astro';

const navItems = [
    { linkText: 'Roulette Malaysia', href: '/' },
    { linkText: 'Malaysia Live Casino', href: 'https://www.7slotsplay.com/online-casino-malaysia/' },
    { linkText: 'live blackjack Malaysia', href: 'https://www.7slotsplay.com/the-rise-of-live-blackjack-in-malaysia-a-game-changer-for-online-gambling/' },
    { linkText: 'Slot Games Promotions', href: 'https://www.7slotsplay.com/7slots-blog/' },
    { linkText: 'Online Sports Betting Malaysia', href: 'https://www.7slotsplay.com/top-online-sports-betting-sites-in-malaysia-reviewed-pros-and-cons/' }
];
---

<nav class="flex flex-wrap items-center gap-4 pt-6 pb-16 sm:pt-12 sm:pb-24">
    <a href="/">
        <Logo />
    </a>
    {
        !!navItems?.length && (
            <ul class="flex flex-wrap gap-x-4 gap-y-1">
                {navItems.map((item) => (
                    <li>
                        <a href={item.href} class="inline-block px-1.5 py-1 sm:px-3 sm:py-2">
                            {item.linkText}
                        </a>
                    </li>
                ))}
            </ul>
        )
    }
</nav>
